@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  font-family: "Space Mono";
  background-color: #f5f7ff;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  /* display: flex; */
  justify-content: center;
  height: 100%;
}

@media (max-width: 864px) {
  .custom-flex {
    flex-direction: column;
  }
  .DeleteOder {
    order: unset;
    bottom: 0;
  }

  .textJoin {
    top: 0.5rem;
  }
  .textBio {
    margin-top: 2.07rem;
    margin-bottom: 1.45rem;
    padding-inline: 1.5rem;
    margin-left: unset;
  }

  .info {
    margin: 0 1.5rem;
    /* margin-left: unset; */
  }

  .social {
    margin: 40px 1.5rem 24px 1.5rem;
  }
}

@media (max-width: 560px) {
  .textUserSM {
    font-size: 16px;
  }
  .textJoinSM {
    font-size: 15px;
    top: unset;
  }
  .imgSM {
    width: 70px !important;
    height: 70px !important;
  }

  .unsetMargin {
    margin: unset;
  }

  .textLoginSM {
    bottom: 0.9rem;
  }

  .textJoinSM {
    bottom: 0.5rem;
  }

  .textResSM {
    font-size: 11px;
  }

  .flex-sm {
    display: flex;
    flex-direction: column;
  }

  .oderNone{
    order: unset;
  }

  .padding32{
    padding-top: 32px;
  }
}
